<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Apartment Manager System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div>
    <h1> Account List </h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Account Number</th>
            <th>Owner Name</th>
            <th>Owner Last Name</th>
            <th>Apartment Number</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${listAccounts}">
            <td th:text="${account.accountNumber}"></td>
            <td th:text="${account.ownerName}"></td>
            <td th:text="${account.ownerLastName}"></td>
            <td th:text="${account.accountNumber}"></td>
            <td th:text="${account.apartmentNumber}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>