<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Account Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Account Management System</h1>
    <hr>
    <h2>Update Account</h2>

    <form action="#" th:action="@{/saveAccount}" th:object="${account}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <input required type="text" th:field="*{accountNumber}"
               placeholder="Account Number" class="form-control mb-4 col-4">

        <input required type="text" th:field="*{ownerName}"
               placeholder="Owner Name" class="form-control mb-4 col-4">

        <input required type="text" th:field="*{ownerLastName}"
               placeholder="Owner First Name" class="form-control mb-4 col-4">

        <input required type="text" th:field="*{apartmentNumber}"
               placeholder="Apartment Number" class="form-control mb-4 col-4">

        <input required type="text" th:field="*{balance}"
               placeholder="Balance" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Account</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Account List</a>
</div>
</body>
</html>
